<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>{% block title %}LaZone{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bungee+Shade&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/laZone/templates/style.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-between">
                <a href="/" class="d-flex align-items-center text-decoration-none" style="color: inherit;">
                    <img src="/static/logo/logo.png" alt="Logo" style="width: 75px; height: auto;">
                    <h1 style="margin-left: 10px; margin-bottom: 0; font-family: 'Archivo Black';font-weight: 400;">LaZone</h1>
                </a>
                
                <div class="d-flex align-items-center justify-content-end">
                    {% if current_user.is_authenticated %}
                        <div class="dropdown">
                            <a class="btn btn-link dropdown-toggle text-dark" style="font-size: 0.9em;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ current_user.profil_image_url | default('/static/userImages/default.png') }}" alt="Image de profil" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                                {{ current_user.first_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/editProfile">Paramètres</a>
                                {% if not current_user.admin %}
                                    <a class="dropdown-item" href="{{ url_for('product.display_favorites') }}">Mes favoris</a>
                                    <a class="dropdown-item" href="{{ url_for('shopping_cart.list_orders') }}">Mes commandes</a>

                                {% endif %}
                                <a class="dropdown-item" href="/logout">Se déconnecter</a>
                            </div>
                        </div>
                        {% if not current_user.admin %}
                            <a href="/shopping_cart" class="btn btn-link text-dark" style="font-size: 0.8em; margin-left: 20px;">
                                <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
                                <span class="badge badge-light" id="cart-count">{{ cart_count }}</span>
                            </a>
                        {% else %}
                            <a href="/admin/productEdit/add_product" class="btn btn-link text-dark" style="font-size: 0.8em; margin-left: 10px;">Ajouter un produit</a>
                            <a href="/admin/productEdit/list_comments" class="btn btn-link text-dark" style="font-size: 0.8em; margin-left: 10px;">Gérer les commentaires</a>
                            <a href="/shopping_cart/orders_admin" class="btn btn-link text-dark" style="font-size: 0.8em; margin-left: 10px;">Gérer les commandes</a>
                            {% endif %}
                    {% else %}
                        <a href="/sign-up" class="btn btn-link text-dark" style="font-size: 0.8em;">Créer un compte</a>
                        <a href="/login" class="btn btn-link text-dark" style="font-size: 0.8em;">Se connecter</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/skateboard">Skateboards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/casquettes">Casquettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/chaussures">Chaussures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/chaussettes">Chaussettes</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                    <input type="text" name="query" class="form-control mr-sm-2" placeholder="Rechercher...">
                </form>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">{% block content %}{% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
