<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>{% block title %}LaZone{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="home" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/skateboard">Skateboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/casquettes">Casquettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/chaussures">Chaussures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/chaussettes">Chaussettes</a>
                </li>
            </ul>
    
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto align-items-center"> 
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/editProfile">{{ current_user.first_name }}</a> 
                    {% if current_user.profil_image_url %}
                        <img src="{{ current_user.profil_image_url }}" alt="Image de Profil" style="width: 30px; height: 30px; border-radius: 50%;">
                    {% else %}
                        <img src="/static/userImages/default.png" alt="Default Profile Image" style="width: 30px; height: 30px; border-radius: 50%;">
                    {% endif %}
                </li>
                {% if current_user.admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productEdit/add_product">Ajouter un produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productEdit/list_product">Editer un produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productEdit/list_product">Gérer les commentaires</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="margin-left: 10px;">Se déconnecter</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Se connecter</a>
                </li>
            </ul>
            {% endif %}
            
        </div>
    </nav>
    

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">{% block content %}{% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12
